################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Part1/DesignPatterns-PartOne/StudentDB
/Part1/DesignPatterns-PartOne/DesignPatterns-PartOne.sln
/Part1/DesignPatterns-PartOne/Iterator/bin/Debug/netcoreapp3.1
/Part1/DesignPatterns-PartOne/SingletonTest
/Part1/DesignPatterns-PartOne/Singleton
/Part1/DesignPatterns-PartOne/FactoryPattern
/Part1/DesignPatterns-PartOne/.vs/DesignPatterns-PartOne/v16
/Part1/DesignPatterns-PartOne/.vs/DesignPatterns-PartOne
/Part1/DesignPatterns-PartOne/AbstractFactory
/Part1/DesignPatterns-PartOne/Decarator
/Part1/DesignPatterns-PartOne/FactoryMethod/bin/Debug/netcoreapp3.1
/Part1/DesignPatterns-PartOne/FactoryMethod
/Part1/DesignPatterns-PartOne/Iterator
/Part1/DesignPatterns-PartOne/Observer
